* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#main-header {
    padding: 2rem;
    text-align: center;
    background-color: #333;
    color: white;
}

#main-footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

#main {
    padding: 0 30px;
}

.my-form {
    display: flex;
    flex-direction: column;
    background: #f4f4f4;
    width: 50%;
    margin: 30px auto;
    padding: 2rem;
}
.my-form .form-field {
    padding-bottom: 20px;
}

.my-form label {
    display: block;
    color: #666;
    font-weight: 600;
}
.my-form input[type="text"], .my-form textarea {
    width: 100%;
    padding: 10px;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.my-form .button {
    align-self: center;
}

.my-form select {
    width: 50%;
    padding: 10px;
    font-size: 1.2rem;
}

.button {
    width: 144px;
    font-size: 1rem;
    background-color: #333;
    color: white;
    padding: 1rem 15px;
    border: none;
    border-radius: 8px;
}

.button:hover {
    background-color: red;
    color: black;
}