<!DOCTYPE html>
<html lang="en" ng-app="calcApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AngularJS Calculator</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <header id="main-header">
        <h2>AngularJS Calculator</h2>
    </header>
    <section id="main">
        <div class="container" ng-controller="CalcController as calc">
            <form class="my-form">
                <div class="form-field">
                    <label for="num1">Number 1</label>
                    <input type="text" ng-model="num1" ng-change="valueChanges()">
                </div>
                <div class="form-field">
                    <label for="num2">Number 2</label>
                    <input type="text" ng-model="num2" ng-change="valueChanges()">
                </div>
                <div class="form-field" style="display: flex; justify-content: space-between">
                    <button name="add" class="btn-op" ng-click="setOp('+')">+</button>
                    <button name="sub" class="btn-op" ng-click="setOp('-')">-</button>
                    <button name="mul" class="btn-op" ng-click="setOp('*')">*</button>
                    <button name="div" class="btn-op" ng-click="setOp('/')">/</button>
                </div>
                {{ result }}
            </form>
        </div>

    </section>

    <script src="angular.min.js"></script>
    <script src="main.js"></script>
</body>

</html>